/* Set the font on the entire site */
body {
  /*font-family: "Roboto", Helvetica, Arial, sans-serif;*/
  /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  font-family: 'Proxima Nova', Georgia, sans-serif;
  letter-spacing: 0.010em;
}
h1, h2, h3, h4, h5, h6 {
  margin: 30px 0 30px;
}
h1 { font-size: 2.3em; }
h2 { font-size: 1.9em; }
h3 { font-size: 1.7em; }


article {
  max-width:900px;
  padding-left:10px;
  padding-right:10px;
  margin:0 auto;
}
article a {
  text-decoration: underline;
  color: #6180b8
}
/* OBSOLETE */
/* About section */
.sidebar-about h1 {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}
.sidebar li.active a {
  font-weight: bold;
  text-decoration:underline;
}
/*
 * See hyde-hyde.css
 * for @media config of .main-image
 */
.main-image {
  border-radius: 40%;
  margin:0px;
  max-width:10em;
  margin:0 auto 0;
}
.site__title {
  font-size: 2.5em;
  padding: 20px 0px;
}
/*
 * We don't the site title "Sami" <a href=> to act like the rest of
 * of the a.href that get underlined, so we override the a:hover here
 */
.site__title a:hover {
  text-decoration: none;
  color: #404040;
}
.container {
  max-width:1000px;
}
.post-list h5 {
  font-weight: bold;
  margin:0px;
}
/** e.g. Book: Flatland */
.post-list-title {
  padding: 30px 0 30px;
}
.post-list-title a {
  color: #404040;
  text-decoration: none;
}
.post--navigation {
  width: auto;
}
.post-list-date {
  font-size:24px;
  margin-right:40px;
  font-weight:bold;
}
.sf-post-image {
  border-width: 2px;
  border-color: black;
  border-style: solid;
  border-radius: 3px;
  margin:0 auto 0;
  max-width:80%;
}
.column {
  min-height:2000px;
}
.sidebar2 {
  display: flex;
  flex-direction: column;
  background-color: #151515;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
}
.sidebar2 a {
  color: #f9f9f9;
  border: none;
}
.content1 {
  overflow: auto;
  flex: 1;
  display: flex;
}
.sidebar2-nav {
  text-align: center;
  list-style: none;
  padding-left: 0;
}
.sidebar-menu {
  margin: auto 0 auto ;
}
.content1 .post {
  padding: 40px 0px 0px;
  text-align: justify;
}
.item__title--small {
  font-size: 20px;
}
.tag-cloud {
  text-align: center;
  margin: auto 0px;
}
.tag-cloud h3 {
  margin-bottom:20px;
}
@media (min-width: 768px) and (max-width: 1200px) {
  .content1 {
    flex: 1;
    display: flex;
    overflow: auto;
    padding: 20px 100px 0px;
  }
}
/* defined by sami for sidebar disparition on small sizes */
@media (min-width: 320px) and (max-width: 768px) {
  .main-image {
    width:0px;
    height:0px;
  }
  .content1 {
    padding: 0px 10px 0px ;
  }
  .content1 article {
    margin: 0 auto 0;
  }
  .sidebar2 {
    padding: 5px;
  }
  .social {
    margin: 0;
    padding-top: 0px;
  }
  .sidebar2 li {
    padding: .1rem 0;
  }
  .sidebar2-menu {
    padding: 0px;
  }
  /* Below three make the menu horizontal */
  ul.sidebar2-nav li {
    display:inline-block;
  }
  ul.sidebar2-nav li:before {
    content: '⚪️';
    color:#999;
    color:rgba(0,0,0,0.5);
    font-size:11px;
  }
  ul.sidebar2-nav li:first-child:before {
    content: '';
  }
  .hidden-tablet {
    display: none;
  }
}
@media (min-width: 768px) {
   .body {
    position: absolute;
    top: 0px;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
  }
  .main {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  .sidebar2 {
    width: 15em;
    /*padding: 2rem 1rem;*/
  }
  .author-image {
    padding: 20px 0px 30px;
  }
  .social {
    margin: 0;
  }
}
@media (min-width: 1200px) {
  .content1 {
    padding: 20px 180px 0px;
  }
}
